

/* ************************************************************** */
/*cuando pase a tamaño de disposito movil*/
@media (max-width:1024px){
    .menu{
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 999;
    }
    header{
        margin-top: 50px; /* Igual a la altura del menú */
    }
    .menu-container{
        display: flex;
    }
    .menu_hamburguer{
        display: flex;
    }
    .menu_item{
        --clip:0;
        overflow: hidden;
    }

    .menu_item--active{
        --transform: rotate(0) ;
        --background: #5e7094;
    }

    .menu_item--show{
        background-color: var(--background);
    }
    .menu_links{
        position:fixed;
        max-width: 250px;
        width: 100%;
        top:50px;
        bottom: 0;
        right: 0;
        background-color: #000;
        overflow-y: auto;
        display: grid;
        grid-auto-rows: max-content;
        transform: translateX(100%);/* se esconde el menu*/
        z-index: 999;
    }

    .menu_links--show{
        transform: unset;
        width: 100%;
    }
    .menu_link{
        padding: 25px 0;
        padding-left: 30px;
        height: auto;
    }

    .menu_arrow{
        margin-left: auto;
        margin-right: 2px;
    }

    .menu_nesting{
        display: grid;
        position: unset;
        width: 100%;
        transform: translateY(0);
        height: 0;
        transition: height .3s;
        background-color: #000;
    }

    .menu_link---inside{
        width: 90%;
        margin-left: auto;
        border-left: 1px solid #798499;
    }
    .menu-destok{
        display: none;
    }
    .clasificaciones{
        display: none;
    }
    .icon-cart{
        color:#fff;
    }
    .hidden-cart{
        z-index: 1000;
    }
    .caja1,.caja2{
        max-width: 90%;
        margin: 5px auto 0 auto;
    }

    .slider {
        position: relative;
        overflow: hidden;
        width: 100%;
        max-width: 1023px;
        height: auto;
        margin: 0 auto;
      }
      
      .slider-container {
        display: flex;
        width: 200%;
        transition: transform 0.5s ease;
      }
      
      .slider-container img {
        width: 50%;
        height: auto;
        object-fit: cover;
      }
      
      .slider-button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 50px;
        height: 40px;
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        border: none;
        font-size: 16px;
        cursor: pointer;
      }
      
      .slider-button-prev {
        left: 0;
      }
      
      .slider-button-next {
        right: 0;
      }
    
      .new-products {
        max-width: 100%;
        max-height: auto;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        margin: 10px auto;
        overflow-x: auto;
      }
    
      .new-products img {
        width: 33.33%;
        height: auto;
        margin: 0;
      }
     .linea{
        margin:50px auto 0 auto ;
     }
      .titulo-container-item{
        font-size: 18px;
        background-color: #ffffff;
      }
      .container-items{
        max-width: 100%;
        margin: 10px auto 0 auto;
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(170px,1fr));
        grid-gap: 30px;
        grid-row-gap: 30px;
    }
    .info-producto button{
        padding: 6px 10px;
        font-size: 10px;
    }
    .price{
        font-size: 12px;
    }
    .info-producto{
        padding: 5px 15px;
        line-height: 1;
    }
    .item h3{
        font-size: 11px;
    }
}

@media (max-width:768px) {
    #search-input {
        width:auto; 
        margin-right:.5rem; 
        margin-bottom:.5rem; 
    }
    
    #search-button {
        position:relative; 
        top:auto; 
        right:auto; 
        transform:none; 
        margin-bottom:.5rem; 
    }
}

/* ************************************* */
@media (min-width:400px) and (max-width:800px) {
    .menu{
        top: 0;
        left: 0;
        width: 100%;
        height: 50px;
    }
    .menu-container{
        display: none;
    }
    .slider {
        position: relative;
        overflow: hidden;
        width: 100%;
        max-width: 600px;
        height: auto;
        margin: 0 auto;
      }
      
      .slider-container {
        display: flex;
        width: 200%;
        transition: transform 0.5s ease;
      }
      
      .slider-container img {
        width: 50%;
        height: auto;
        object-fit: cover;
      }
      
      .slider-button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 50px;
        height: 40px;
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        border: none;
        font-size: 16px;
        cursor: pointer;
      }
      
      .slider-button-prev {
        left: 0;
      }
      
      .slider-button-next {
        right: 0;
      }
      
      .new-products {
        display: flex;
        justify-content: center;
      }
      
      .new-products img {
        width: 33.33%;
        height: auto;
        margin-right: 3px;
      }
      .container-items{
        max-width: 100%;
        margin: 15px auto 0 auto;
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(120px,1fr));
        grid-gap: 30px;
        grid-row-gap: 30px;
    }
    .menu-container{
        display: flex;
    }
    .clasificaciones{
        display: none;
    }
    .item h3{
        font-size: 11px;
    }
    .info-producto button{
        padding: 5px 10px;
        font-size: 10px;
    }
    .price{
        font-size: 15px;
    }
    .container-cart-products{
        right: -48px;
        width: 420px;
    }
    .cantidad-carrito{
      width: 80px;
      display: inline-block;
    }
    .restar-cantidad,.sumar-cantidad {
        font-size: 18px;
        cursor: pointer;
    }
  
    .titulo-producto-carrito{
      font-size: 12px;
      text-align: center ;
      font-weight: bold;
    }
    .precio-producto-carrito{
      font-size: 14px;
    }
    .info-producto{
        padding: 5px 15px;
        line-height: 1;
    }
    .titulo-container-item h2{
        font-size: 18px;
    }
    .notification {
        font-size: 12px;
        padding: 6px 12px;
      }

      #search-input {
        padding: 10px;
        width: 200px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 14px;
      }
      .selected-item{
        width: 50%;
        margin: auto;
      }
 }

