.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1A202C;
    color:#fff;
    height: 50px;
}

nav ul{
    list-style: none;
}

.menu-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: auto;
}

.menu_links{
    height: 100%;
    transition: transform .5s;
    display: flex;/*los elementos se ponen uno al lado del otro*/
}

.menu_item{
    color:white;
    text-decoration: none;
    list-style: none;
    position: relative;
    height: 100%;
    --clip: polygon(0 0,100% 0, 100% 0,0 0); /*animacion personalizada*/
    --transform:rotate(-90deg) ;
}

.menu_item:hover{
    --clip: polygon(0 0,100% 0, 100& 100%,0 100%);/*abre el menu cuando pasa el mouse*/
    --transform:rotate(0) ;
}

.menu_nesting{
    list-style: none;
    transition:clip-path .3s;
    clip-path: var(--clip);
    position: absolute;
    right: 0;
    bottom: 0;
    width: max-content;
    transform: translateY(100%);
    background-color: #000;
    z-index: 999;
}

.menu_link{
    color:white;
    text-decoration: none;
    padding: 12.5px 20px;
    display: flex;
    height: 100%;
    align-items: center;
}
.menu_link:hover{
    background-color:#556485 ;
}
.menu_arrow{
    transform:var(--transform) ;
    transition: transform .3s;
    display: block;
    margin-left: 3px;
}

.menu_link---inside{
    padding: 20px 20px 20px 20px;
}

.menu_link--inside:hover{
    background-color: #798499;
}

.menu_hamburguer{
    height: 100%;
    display: flex;
    align-items: center;
    padding:  0 15px;
    cursor: pointer;
    display: none;
}

.menu_img{
    display: block;
    width: 36px;
}
