@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0 auto;
    /*max-width: 1200px;*/
    font-family: 'Poppins', sans-serif;
    color: #333;
}


/*despues de la barra de navegacion*/
.icon-cart{
    width: 40px;
    height: 40px;
    stroke: #000;
}

.icon-cart:hover{
    cursor: pointer;
}

img{
    max-width: 100%;
}

/* Header */
header{
    display: flex;
    justify-content: space-between;
    padding: 30px 0 40px 0;
    margin-left: 50px;
}

.container-icon{
    position: relative;
    margin-right: 50px;
}

.count-products{
    position: absolute;
    top: 55%;
    right: 0;

    background-color: #000;
    color: #fff;
    width: 25px;
    height: 25px;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

#contador-productos{
    font-size: 12px;
}

.container-cart-products{
    position: absolute;
    top: 50px;
    right: 0;
    background-color: #fff;
    width: 700px;
    z-index: 1;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
    border-radius: 10px; 
}

.cart-product{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.20);
}

.info-cart-product{
    display: flex;
    justify-content: space-between;
    flex: 0.95;
}
.info-cart-product img{
    margin: 2px;
    width: auto;
    height: auto;
    max-width: 20%;
}

.titulo-producto-carrito{
    width: 25%;
    height: 78%;
    font-size: 18px;
    font-weight: 400;
    text-align: center ;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    max-height: 3.6em; /* Ajusta el valor según el tamaño del título */
}
.titulo-producto-carrito:hover{
    text-decoration: underline;
}
.precio-producto-carrito{
    font-weight: 700;
    font-size: 18px;
}
.cantidad-carrito{
  width: 25%;
  display: inline-block;
  flex-direction: column;
  margin: 5px;
 text-align: center;
}
.restar-cantidad,.sumar-cantidad {
    font-size: 22px;
    cursor: pointer;
}
.restar-cantidad:hover,.sumar-cantidad:hover{
    background-color: #000;
    color: #fff;
    border-radius: 50%;
}
.cantidad-producto-carrito{
    font-weight: 550;
    font-size: 22px;
}

.icon-close{
    width: 25px;
    height: 25px;
}

.icon-close:hover{
    stroke: red;
    cursor: pointer;
    box-shadow: 0 0 3px rgba(0,0,0, 0.50);
}

.cart-total{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    gap: 20px;
}

.cart-total h3{
    font-size: 20px;
    font-weight: 700;
}

.total-pagar{
    font-size: 20px;
    font-weight: 900;
}

.hidden-cart{
    display: none;
}




/* Main */
.container-items{
    max-width: 90%;
    margin: 10px auto 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    grid-gap: 30px;
    grid-row-gap: 30px;
}

.item{
    border-radius: 10px;
    max-width: 100%;
}


.descripcion{
    line-height: 1.2;/*corrige el interlineado en la descripcion del producto*/
    font-size: 13px;
}
.item:hover{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
}

.item img{
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    transition: all .5s;
}

.item figure{
    width: 100%;
    overflow: hidden;
}

.item:hover img{
    transform: scale(1.2);
}

.info-producto{
    padding: 12px 20px;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: justify;
}
.info-producto h3{
    font-size:14px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    max-height: 3.6em; /* Ajusta el valor según el tamaño del título */
}
.info-producto h3:hover{
    text-decoration:overline;
}
.price{
    font-size: 16px;
    font-weight: 900
}

.info-producto button{
    border: none;
    background: none;
    background-color: #000;
    color: #fff;
    padding: 6px 10px;
    cursor: pointer;
    border-radius:5px;
}

.info-producto button:hover{
    background-color:#333;
}

.container-cart-products button{
    border: none;
    background: none;
    background-color: #000;
    color: #fff;
    padding: 10px 60px;
    cursor: pointer;
    margin-bottom: 10px;
    margin-left: 30%;
    border-radius: 5px;
   
}
.container-cart-products button a{
  text-decoration: none;
  color: #fff;
}
.container-cart-products button:hover{
    background-color:#333;
}


.cart-empty{
    padding: 20px;
    text-align: center;
}


.hidden,.ocultar,.ocultarItem{
    display: none;
}

.selected-item{
  width: 20%;
  margin: auto;
}


/* ***********slider*********** */
.slider {
    position: relative;
    overflow: hidden;
    max-width: 78%;
    height: 300px;
    margin: 10px auto 0 auto;
  }
  .slider-container {
    display: flex;
    width: 4800px;
    transition: transform 0.5s ease;
  }
  .slider-container img {
    max-width: 78%;
    height: 300px;
    object-fit: cover;
  }
  .slider-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
  }
  .slider-button-prev {
    left: 0;
  }
  .slider-button-next {
    right: 0;
  }
  
  

.caja1{
    max-width: 80%;
    border-top: 1px dotted lightgrey;
    margin: 0 auto;
    justify-content: space-between;
}
.linea{
    border: 1px dotted lightgray;
    max-width: 80%;
    margin:160px auto 0 auto ;
}
.caja2{
    max-width: 90%;
    margin: 0 auto 0 auto;
    justify-content: space-around;
}
.new-products{
    display: flex;
    max-width: 78%;
    margin: 10px auto 0 auto;
    justify-content: space-between;
}
.new-products img{
    max-width: 32%;
}


.ct-item-active{
    font-weight: bold;
}

/* *******nitificacion******* */
.notification {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 16px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    z-index: 999;
  }
  
  .notification.show {
    opacity: 1;
  }
  
  .notification.animate {
    animation: notificationAnimation 0.3s ease-in-out;
  }
  
  @keyframes notificationAnimation {
    0% {
      transform: translate(-50%, -50%) scale(0.8);
      opacity: 0;
    }
    70% {
      transform: translate(-50%, -50%) scale(1.05);
      opacity: 1;
    }
    100% {
      transform: translate(-50%, -50%) scale(1);
      opacity: 1;
    }
  }
  
  
.show {
    display: block;
  }
  

 
  
/* *********************BUSCAR**************** */
.search-container {
  position: relative;
  margin: auto;
}

#search-input {
  padding: 10px;
  width: 500px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

#search-button {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

#search-results {
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  width: 100%;
  list-style: none;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top: none;
  padding: 0;
  margin: 0;
  display: none;
  z-index:999; 
}

#search-results li {
    padding:10px; 
    cursor:pointer; 
    z-index:999; 
}

#search-results li:hover {
    background-color:#f1f1f1; 
}


  
  
  

