@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0 auto;
    /*max-width: 1200px;*/
    font-family: 'Poppins', sans-serif;
    color: #333;
}

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1A202C;
    color:#fff;
    height: 50px;
}

nav ul{
    list-style: none;
}
.menu-destok{
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.contacto{
    display: flex;
}
.contacto a{
    color:#ffff;
    text-decoration: none;
}
.contacto li{
    padding: 0 15px 0 15px;
}
.redes-sociales ul{
    display: flex;
}
.redes-sociales a{
    padding: 0 5px 0 5px;
    color:#ffff;
    text-decoration: none;
}
.redes-sociales li i{
    font-size: 18px;
}
.menu-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: auto;
    display: none;
}

.menu_links{
    height: 100%;
    transition: transform .5s;
    display: flex;/*los elementos se ponen uno al lado del otro*/
}

.menu_item{
    color:white;
    text-decoration: none;
    list-style: none;
    position: relative;
    height: 100%;
    --clip: polygon(0 0,100% 0, 100% 0,0 0); /*animacion personalizada*/
    --transform:rotate(-90deg) ;
}

.menu_item:hover{
    --clip: polygon(0 0,100% 0, 100& 100%,0 100%);/*abre el menu cuando pasa el mouse*/
    --transform:rotate(0) ;
}

.menu_nesting{
    list-style: none;
    transition:clip-path .3s;
    clip-path: var(--clip);
    position: absolute;
    right: 0;
    bottom: 0;
    width: max-content;
    transform: translateY(100%);
    background-color: #000;
    z-index: 999;
}

.menu_link{
    color:white;
    text-decoration: none;
    padding: 22.5px 30px;
    display: flex;
    height: 100%;
    align-items: center;
}
.menu_link:hover{
    background-color:#556485 ;
}
.menu_arrow{
    transform:var(--transform) ;
    transition: transform .3s;
    display: block;
    margin-left: 3px;
}

.menu_link---inside{
    padding: 30px 100px 30px 20px;
}

.menu_link--inside:hover{
    background-color: #798499;
}

.menu_hamburguer{
    height: 100%;
    display: flex;
    align-items: center;
    padding:  0 15px;
    cursor: pointer;
    display: none;
}

.menu_img{
    display: block;
    width: 36px;
}

/*despues de la barra de navegacion*/
.icon-cart{
    width: 40px;
    height: 40px;
    stroke: #000;
}

.icon-cart:hover{
    cursor: pointer;
}

img{
    max-width: 100%;
}

/* Header */
header{
    display: flex;
    justify-content: space-between;
    padding: 30px 0 40px 0;
    margin-left: 50px;
}

.container-icon{
    position: relative;
    margin-right: 50px;
}

.count-products{
    position: absolute;
    top: 55%;
    right: 0;

    background-color: #000;
    color: #fff;
    width: 25px;
    height: 25px;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

#contador-productos{
    font-size: 12px;
}

.container-cart-products{
    position: absolute;
    top: 50px;
    right: 0;

    background-color: #fff;
    width: 400px;
    z-index: 1;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
    border-radius: 10px;
    
}

.cart-product{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;

    border-bottom: 1px solid rgba(0, 0, 0, 0.20);

}

.info-cart-product{
    display: flex;
    justify-content: space-between;
    flex: 0.8;
}

.titulo-producto-carrito{
    font-size: 20px;
}

.precio-producto-carrito{
    font-weight: 700;
    font-size: 20px;
    margin-left: 10px;
}

.cantidad-producto-carrito{
    font-weight: 400;
    font-size: 20px;
}

.icon-close{
    width: 25px;
    height: 25px;
}

.icon-close:hover{
    stroke: red;
    cursor: pointer;
    box-shadow: 0 0 3px rgba(0,0,0, 0.50);
}

.cart-total{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    gap: 20px;
}

.cart-total h3{
    font-size: 20px;
    font-weight: 700;
}

.total-pagar{
    font-size: 20px;
    font-weight: 900;
}

.hidden-cart{
    display: none;
}




/* Main */
.container-items{
    max-width: 80%;
    margin: 10px auto 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 30px;
    grid-row-gap: 30px;
}

.item{
    border-radius: 10px;
    max-width: 100%;
}

.descripcion{
    line-height: 1.2;/*corrige el interlineado en la descripcion del producto*/
    font-size: 13px;
}
.item:hover{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
}

.item img{
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    transition: all .5s;
}

.item figure{
    width: 100%;
    overflow: hidden;
}

.item:hover img{
    transform: scale(1.2);
}

.info-producto{
    padding: 15px 30px;
    line-height: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.price{
    font-size: 16px;
    font-weight: 900
}

.info-producto button{
    border: none;
    background: none;
    background-color: #000;
    color: #fff;
    padding: 6px 10px;
    cursor: pointer;
    border-radius:5px;
}

.info-producto button:hover{
    background-color:#333;
}

.container-cart-products button{
    border: none;
    background: none;
    background-color: #000;
    color: #fff;
    padding: 10px 10px;
    cursor: pointer;
    margin-bottom: 10px;
    margin-left: 45%;
    border-radius: 5px;
}

.container-cart-products button:hover{
    background-color:#333;
}


.cart-empty{
    padding: 20px;
    text-align: center;
}


.hidden,.ocultar{
    display: none;
}




/* ***********slider*********** */
.slider {
    position: relative;
    overflow: hidden;
    max-width: 78%;
    height: 300px;
    margin: 10px auto 0 auto;
  }
  .slider-container {
    display: flex;
    width: 4800px;
    transition: transform 0.5s ease;
  }
  .slider-container img {
    max-width: 78%;
    height: 300px;
    object-fit: cover;
  }
  .slider-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
  }
  .slider-button-prev {
    left: 0;
  }
  .slider-button-next {
    right: 0;
  }
  
  

.caja1{
    max-width: 80%;
    border-top: 1px dotted lightgrey;
    margin: 0 auto;
    justify-content: space-between;
}
.linea{
    border: 1px dotted lightgray;
    max-width: 80%;
    margin:25px auto 0 auto ;
}
.caja2{
    max-width: 80%;
    margin: 0 auto 0 auto;
    justify-content: space-around;
}
.new-products{
    display: flex;
    max-width: 78%;
    margin: 10px auto 0 auto;
    justify-content: space-between;
}
.new-products img{
    max-width: 32%;
}
footer{
    clear: both; /*rompe los elementos flotados, ya no se aplica a el*/
    padding: 1px;
    text-align: center;
}
.clasificaciones{
    float: left;
    max-width: 16%;
    margin: 10px 0 0 5px;
    font-size: 15px;
    border: 1px solid lightgray;
    border-radius: 10px;
}

.clasificaciones a{
    /*background-color:skyblue;
    border-radius: 10px 0 10px 0; lado superior izquierdo,lado superior derecho,lado inferior derecho,lado inferior izquierdo
    padding: 10px;*/
    display:block;/* para dejen de ser elementos lineales y sean bloques, asi no se juntan*/
    text-decoration: none;
    margin: 15px 10px;
    color: lightslategray;
    border-bottom: 1px solid lightgray;
    padding: 20px;
}

.clasificaciones a:hover{
    background-color:rgb(180, 230, 250);
}
.ct-item-active{
    font-weight: bold;
}

.info-producto H3{
    font-size:15px
}

/* ************************************************************** */
/*cuando pase a tamaño de disposito movil*/
@media (max-width:800px){
    .menu{
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 999;
    }
    header{
        margin-top: 50px; /* Igual a la altura del menú */
    }
    .menu-container{
        display: flex;
    }
    .menu_hamburguer{
        display: flex;
    }
    .menu_item{
        --clip:0;
        overflow: hidden;
    }

    .menu_item--active{
        --transform: rotate(0) ;
        --background: #5e7094;
    }

    .menu_item--show{
        background-color: var(--background);
    }
    .menu_links{
        position:fixed;
        max-width: 250px;
        width: 100%;
        top:50px;
        bottom: 0;
        right: 0;
        background-color: #000;
        overflow-y: auto;
        display: grid;
        grid-auto-rows: max-content;
        transform: translateX(100%);/* se esconde el menu*/
        z-index: 999;
    }

    .menu_links--show{
        transform: unset;
        width: 100%;
    }
    .menu_link{
        padding: 25px 0;
        padding-left: 30px;
        height: auto;
    }

    .menu_arrow{
        margin-left: auto;
        margin-right: 2px;
    }

    .menu_nesting{
        display: grid;
        position: unset;
        width: 100%;
        transform: translateY(0);
        height: 0;
        transition: height .3s;
        background-color: #000;
    }

    .menu_link---inside{
        width: 90%;
        margin-left: auto;
        border-left: 1px solid #798499;
    }
    .menu-destok{
        display: none;
    }
    .clasificaciones{
        display: none;
    }
    .icon-cart{
        color:#fff;
    }
    .hidden-cart{
        z-index: 1000;
    }
    .caja1,.caja2{
        max-width: 90%;
        margin: 5px auto 0 auto;
    }

    .slider{
        max-width: 100%;
        margin:10px auto 0 auto;
    }
    .new-products {
       max-width: 100%;
       max-height: auto;
       display: flex;
        margin:10px auto 0 auto;
        justify-content: space-between;
      }
      
      .new-products img {
        max-width: 31%;
        height: auto;
        margin: 10px;
      } 
     
      .titulo-container-item{
        font-size: 18px;
        background-color: #ffffff;
      }
      
}

/* ************************************* */
@media (max-width:400px){
    .menu{
        top: 0;
        left: 0;
        width: 100%;
        height: 50px;
    }
    .menu-destok{
        display: none;
    }
    .slider {
        position: relative;
        overflow: hidden;
        width: 100%;
        max-width: 400px;
        height: auto;
        margin: 0 auto;
      }
      
      .slider-container {
        display: flex;
        width: 200%;
        transition: transform 0.5s ease;
      }
      
      .slider-container img {
        width: 50%;
        height: auto;
        object-fit: cover;
      }
      
      .slider-button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 50px;
        height: 40px;
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        border: none;
        font-size: 16px;
        cursor: pointer;
      }
      
      .slider-button-prev {
        left: 0;
      }
      
      .slider-button-next {
        right: 0;
      }
      
      .new-products {
        display: flex;
        justify-content: center;
      }
      
      .new-products img {
        max-width: 120px;
        height: auto;
       margin:5px;
      }
      .container-items{
        max-width: 100%;
        margin: 15px auto 0 auto;
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(160px,1fr));
        grid-gap: 30px;
        grid-row-gap: 30px;
    }
    .menu-container{
        display: flex;
    }
    .clasificaciones{
        display: none;
    }
    .item h3{
        font-size: 11px;
    }
    .info-producto button{
        padding: 5px 10px;
        font-size: 10px;
    }
    .price{
        font-size: 15px;
    }
    .container-cart-products{
        right: -50px;
    }
    .info-producto{
        padding: 5px 15px;
        line-height: 1;
    }
   
 }

